<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">yash1616</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db2</property>
        <property name="hibernate.connection.username">root</property>
               <!-- JDBC connection pool settings ... using built-in test pool -->
               <property name="hibernate.c3p0.min_size">5</property>
               <property name="hibernate.c3p0.max_size">20</property>
               <property name="hibernate.c3p0.timeout">300</property>
               <property name="hibernate.c3p0.max_statements">50</property>
               <property name="hibernate.c3p0.idle_test_period">3000</property>
       
               <!-- Specify dialect -->
               <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
       
               <!-- Echo all executed SQL to stdout -->
               <property name="hibernate.show_sql">true</property>
       
               <!-- Drop and re-create the database schema on startup -->
               <property name="hibernate.hbm2ddl.auto">update</property>
       
               <!-- Enable second level cache -->
               <property name="hibernate.cache.use_second_level_cache">true</property>
               <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
               <property name="hibernate.cache.use_query_cache">true</property>
       
               <!-- List of annotated classes -->
               <mapping class="com.yash.fetch.Alien"/>
           </session-factory>
       </hibernate-configuration>
       