<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="com.yash.SpringFDemo.Alien" scope="prototype">
    
    <property name="age"  value="52"></property>
    
    
        <!-- configure properties or dependencies if any -->
    </bean>

	<bean id="Laptop" class="com.yash.SpringFDemo.Laptop" scope="prototype">
	</bean>
    
</beans>
